/* Gen styles */
.text-white {
    color: #a1a8c3!important;
}
p, span, label {
    color: #ccc;
}
h1 {
    margin:0;
    font-size: 1.5rem;
}
h4 {
    color: #8d97bd;
    font-size: 1.2rem;
}
.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 0;
}
.btn-primary:hover {
    background-color: #198231;
    border-color: #198231;
}
.icon {
    font-size:24px;
    color: #a1a8c3;
    margin-right: 5px;
}
.no-padding {
    padding: 0;
}

/* nav */
nav img{
    width: 40px;
}
nav.bg-dark {
    background-color: #273646!important;
}


/* section-logo */
.section-logo {
    margin-top: 8rem;
}
.section-logo .subsection-subtitle{
    border-top: 1px solid #8c96bb;
}
.section-logo .text-main-color {
    color:#8c96bb
}

/* section-destination */
.section-destination .card {
    border-radius: 0;
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
}
.section-destination .card:hover {
    border: 1px solid #bbbbbb;
    box-shadow: 2px 3.5px 77.5px rgba(228, 228, 228, 0.10);
    transition: box-shadow 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}
.section-destination .btn-primary {
    border-radius: 0;
}
.section-destination .mars.card-body {
    background: url("../public/images/mars.jpg") no-repeat center;
    background-size: cover;
} 
.section-destination .moon.card-body {
    background: url("../public/images/moon2.png") no-repeat center;
    background-size: cover;
} 
.section-destination .jupiter.card-body {
    background: url("../public/images/jupiter.png") no-repeat center;
    background-size: cover;
} 
.section-destination .uranus.card-body {
    background: url("../public/images/uranus.png") no-repeat center;
    background-size: cover;
} 
.section-destination .card-title {
    color: #d0cfc5;
}
.section-destination .btn-primary {
    background-color: #283645;
    border-color: #283645;
}

/* section-departures */
.section-departures .card {
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
    border-radius: 0;
}
.subsection-departures-information {
    padding: 0.7rem;
    background:#283645;
    height: 100%;
}

/* section-button */
.section-button{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* section-select */
.section-select .card {
    border-radius: 0;
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
}
.section-select .card-body {
    background:#283645;
}
.section-select .main-info-card {
    color: #a1a8c3;
    font-size: 2rem;
    font-weight: bold;
}

/* section-summary */
.section-summary h3 {
    color: #a1a8c3;
    font-size: 2rem;
    font-weight: bold;
}
.section-summary-info{
    border-radius: 0;
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
}
.section-summary-info .section-summary-box {
    background: #283645;
    border-radius:0;
    padding: 0.7rem;
}


  
  /* purchase ok */
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  

