/* section-logo */
.section-logo {
    margin-top: 8rem;
}
.section-logo .subsection-subtitle{
    border-top: 1px solid #8c96bb;
}
.section-logo .text-main-color {
    color:#8c96bb
}

/* section-destination */
.section-destination .card {
    border-radius: 0;
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
}
.section-destination .card:hover {
    border: 1px solid #bbbbbb;
    box-shadow: 2px 3.5px 77.5px rgba(228, 228, 228, 0.10);
    transition: box-shadow 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}
.section-destination .btn-primary {
    border-radius: 0;
}
.section-destination .mars.card-body {
    background: url("./images/mars.jpg") no-repeat center;
    background-size: cover;
} 

.section-destination .moon.card-body {
    background: url("./images/moon2.png") no-repeat center;
    background-size: cover;
} 
.section-destination .jupiter.card-body {
    background: url("./images/jupiter.png") no-repeat center;
    background-size: cover;
} 
.section-destination .uranus.card-body {
    background: url("./images/uranus.png") no-repeat center;
    background-size: cover;
} 
.section-destination .card-title {
    color: #d0cfc5;
}
.section-destination .btn-primary {
    background-color: #283645;
    border-color: #283645;
}