/* section-departures */
.section-departures .card {
    padding: 0.7rem;
    border: 1px solid #6f6f6f;
    background: transparent;
    border-radius: 0;
}
.subsection-departures-information {
    padding: 0.7rem;
    background:#283645;
    height: 100%;
}
.section-departures h5 {
    color: #75d0f0;
    margin-top: 0.8rem;
}
.section-departures h1 {
    color: #75d0f0;
}
.section-departures .card-departure-info {
    margin-bottom: 10rem;
}